# Dependencies
node_modules/

# Environment Variables
.env
backend/.env
frontend/.env

# SSL Certificates
backend/certificate/

# Uploads
backend/uploads/


# Logs
logs
*.log

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/