@import "tailwindcss";
/* html,
body,
#root {
  overflow-x: hidden;
  width: 100%;
} */
 html,
body {
    overflow-x: clip;
}
/* * {
  outline: 1px solid red;
} */

.custom-toast {
  background: linear-gradient(90deg, #7A22FD, #D119A5) !important;
  color: white !important;
  font-weight: 700;
  border-radius: 14px !important;
}

.Toastify__toast--success {
  background: linear-gradient(90deg, #7A22FD, #D119A5) !important;
  color: white;
}